
@{
    ViewBag.Title = "AddClient";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}
@model E_CommerceWebSite.Models.Client

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Profile Edit</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

   
                <!-- page start-->
                <div class="row">
                    <aside class="profile-nav col-lg-3">
                        <section class="panel">
                            <div class="user-heading round">
                                <a href="#">
                                    <img src="img/profile-avatar.jpg" alt="">
                                </a>
                                <h1>User</h1>
                                <p>jsmith@flatlab.com</p>
                            </div>

                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="/Member/Profile"> <i class="icon-user"></i> Profile</a></li>
                                
                                <li class="active"><a href="/Member/AddClient"> <i class="icon-edit"></i> Edit profile</a></li>
                            </ul>

                        </section>
                    </aside>
                    <aside class="profile-info col-lg-9">
                        <section class="panel">
                           
                            <div class="panel-body bio-graph-info">
                                <h1> Profile Info</h1>
                                <form class="form-horizontal  tasi-form" role="form" action="/Member/AddClient" method="post">

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label" style="">First Name</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="f-name" placeholder=" " name="Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Last Name</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="l-name" placeholder=" " name="SurName">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">UserName</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="occupation" placeholder="@Session["UserName"].ToString()" name="UserName" value="@Session["UserName"].ToString()" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Email</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="email" placeholder="" name="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Mobile</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="mobile" placeholder="" name="Phone">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Adress Title</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="mobile" placeholder=" " name="Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Adress</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="mobile" placeholder=" " name="Adress">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button type="submit" class="btn btn-success">Save</button>
                                            <button type="button" class="btn btn-default">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                    


                            </div>
                        </section>
                        <section>
                            <div class="panel panel-primary">
                                <div class="panel-heading"> Sets New Password</div>
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form" action="/Member/UpdatePassword" method="post">
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Current Password</label>
                                            <div class="col-lg-6">
                                                <input type="password" class="form-control" id="c-pwd" name="oldPassword" placeholder=" ">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">New Password</label>
                                            <div class="col-lg-6">
                                                <input type="password" class="form-control" id="n-pwd" name="Password" placeholder=" ">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Re-type New Password</label>
                                            <div class="col-lg-6">
                                                <input type="password" class="form-control" id="rt-pwd" placeholder=" ">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <button type="submit" class="btn btn-info">Save</button>
                                                <button type="button" class="btn btn-default">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </aside>
                </div>


    <script src="~/Content/Admin/js/jquery-1.8.3.min.js"></script>
  
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="js/respond.min.js"></script>
    <!--common script for all pages-->
    <script src="js/common-scripts.js"></script>


</body>
</html>
