
@{
    ViewBag.Title = "AssignCookie";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                
            </header>

            <div class="panel-body">
                <form action="/Home/CookieAta" role="form" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">cookie Name </label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Cookie Name" name="CookieName">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">cookie Value:</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Cookie Value" name="CookieValue">
                    </div>

                    <button type="submit" class="btn btn-info">Submit</button>
                </form>

            </div>
        </section>

    </div>
</div>